python-dotenv
pandas 
numpy
setuptools
certifi
pymongo==3.12
pymongo[srv]==3.12
scikit-learn
scipy
box

-r requirements-dev.txt

-e . # refers to setup.py, which is used for packaging and installing the project as a module.